<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div text-center>
  <ion-button expand ="block" size="large" routerLink="/book-base" routerDirection ="foward">
    Browse Available Books
    </ion-button>
<ion-button expand ="block" size="large" (click)="loadMapPage()" routerLink="../home" routerDirection ="foward">
  Go to Map to Find Meet-Up
  </ion-button>
  <ion-button expand ="block" size="large" routerLink="/add" routerDirection ="foward">
    Add Location for Meet-Up and Exchange
    </ion-button>
    <ion-button expand ="block" size="large" routerLink="/book-add" routerDirection ="foward">
      Add New Listing to the Available Books
      </ion-button>
      </div>
</ion-content>
